body {
    margin: 0;
    background-image: url(chili.jpg);
    background-size: auto;
}

h1 {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .wrapper h1 {
      font-size: 75px;
    }
  }