body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url(chili.jpg);
    background-size: auto;
}

h1 {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 800px) {
body {
    background-image: url(chili_mobile.jpg);
    background-size: cover;
    }
}